.cartProduct__topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cartProduct__productConatiner {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 350px;
  flex-wrap: wrap;
  padding: 1vw;
  box-shadow: 2px 3px 4px;
}
.cartProduct__orderSummaryContainer {
  flex: 3;
  min-width: 250px;
}
.cartProduct__productImage {
  flex: 1;
}
.cartProduct__productDetail {
  flex: 4;
}
.cartProduct__mapProduct {
  display: flex;
  flex-direction: column;
  flex: 7;
  min-width: 350px;
  flex-wrap: wrap;
}
